#textdomain wesnoth-LOTR

[unit_type]
   name=_ "Cerin Amroth Watchers"
   id=Cerin_Amroth_Watchers
   race=elf
   image="units/Sylvan_Elves/spear-(L1).png"
   profile=""
   hitpoints=38
   movement_type=woodland
    {LESS_NIMBLE_ELF}
    [resistance]
	   arcane=40
	   fire=80
	[/resistance]
	movement=5
	experience=49
	level=1
	alignment=neutral
	advances_to=Woodland_Protectors
	cost=17
	usage=fighter
	description=_ ""
	die_sound={SOUND_LIST:ELF_HIT}
	[attack]
	   name=spear
	   description=_ "spear"
	   range=melee
	   type=pierce
	   damage=5
	   number=4
	   [specials]
	      {WEAPON_SPECIAL_FIRSTSTRIKE}
	   [/specials]
	[/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        offset="0~0.5,0.5~0"
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]