#textdomain wesnoth-LOTR
[unit_type]
   id=Dwarven_Prospector
   name=_ "prospector"
   race=dwarf
   image="units/Dwarves/prospector-(L1).png"
   profile=""
   hitpoints=35
   movement_type=dwarvishfoot
   [resistance]
      pierce=80
   [/resistance]
   [defense]
      flat=60
	  forest=60
	  hills=50
	  mountains=40
	  sand=60
   [/defense]
   movement=5
   experience=42
   level=1
   alignment=neutral
   advances_to=Dwarven_Adventurer
   cost=15
   usage=mixed fighter
   description=_ ""
   die_sound={SOUND_LIST:DWARF_DIE}
   [attack]
      name=pickaxe
	  description=_ "pick axe"
	  type=pierce
	  range=melee
	  damage=5
	  number=3
	  icon=attacks/pick-axe.png
   [/attack]
   [attack]
      name=bow
	  description=_ "bow"
	  type=pierce
	  range=ranged
	  damage=6
	  number=3
	  icon=attacks/bow.png
   [/attack]
   [attack_anim]
        [filter_attack]
            name=pickaxe
        [/filter_attack]
        start_time=-350
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.5,0.5~0.3,0.3~0.0
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]
[/unit_type]