#textdomain wesnoth-units
[unit_type]
    id=Dunland_Spearman
    name= _ "Spearman"
    race=human
    image="units/Dunland/spear-(L1).png"
    profile=""
    hitpoints=33
    movement_type=smallfoot
    movement=5
    experience=42
    level=1
    alignment=neutral
    advances_to=Dunland_Warrior, Dunland_Raiders
    cost=12
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
	[defense]
	   mountains=50
	[/defense]
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=7
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        offset="0~0.5,0.5~0"
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]