#textdomain wesnoth-LOTR
[unit_type]
    id=Dunland_Archer
    name= _ "Archer"
    race=human
    gender=male
    image="units/Dunland/bow-(L1).png"
    profile=""
    hitpoints=35
    movement_type=smallfoot
    movement=5
    experience=37
    level=1
    alignment=neutral
    advances_to=Dunland_Sharp_Shooters, Dunland_Slinger
    cost=13
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
	[defense]
	   mountains=50
	[/defense]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=3
        number=2
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        start_time=-275
        {SOUND:HIT_AND_MISS knife.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]