#textdomain wesnoth-units
[unit_type]
    id=Dunland_Axemen
    name= _ "Dunland_Axemen"
    race=human
    image="units/Dunland/ax-(L2).png"
    profile=""
    hitpoints=57
    movement_type=smallfoot
    movement=5
    experience=69
    level=2
    alignment=chaotic
    advances_to=null
	{AMLA_DEFAULT}
    cost=24
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
	[defense]
	   mountains=50
	[/defense]
    [attack]
        name=axe
        description=_"axe"
        range=melee
		type=armour_piercing
        damage=9
        number=3
		icon=attacks/ax.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-350
        #    offset=0.0~-0.15:30,-0.15~0.1:60,0.1~0.5:190,0.5~0.6:30,0.6~0.6:40,0.6~0.15:150,0.15~0.0:40
        offset=0.0~-0.15:40,-0.15~0.4:240,0.4~0.4:120,0.4~0.0:200
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]