#textdomain wesnoth-LOTR
[unit_type]
    id=Fighting_Uruk_Hai
    name= _ "Fighting Uruk-Hai"
    race=orc
    image="units/Isengard/Sword-(L2).png"
    profile=""
    hitpoints=57
    movement_type=orcishfoot
    movement=5
    experience=68
    level=2
	[resistance]
	   blade=80
	   pierce=95
	   armour_piercing=120
	[/resistance]
	{TRAIT_FEARLESS_MUSTHAVE}
    alignment=chaotic
    advances_to=Uruk_Baneguards, Uruk_Hai_Berserkers
    cost=27
    usage=fighter
    description= _ "These are no ordinary orcs, these are Uruk-Hai, their armour is thick, and their shields broad."
    die_sound={SOUND_LIST:ORC_DIE}
    [attack]
        name=broad_sword
        description=_"broad sword"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
       name=shield bash
       description=_ "shield bash"
       icon=attacks/heater-shield.png
       type=impact
       range=melee
       damage=8
       number=1
       [specials]
          {WEAPON_SPECIAL_SLOW}
       [/specials]
    [/attack]
	    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]

        start_time=-200

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]