#textdomain wesnoth-LOTR
[unit_type]
   id=Mordor_Black_Host_Captain
   name=_ "Black Host Captain"
   race=orc
   image="units/Mordor/sword-(L3).png"
   profile=""
   hitpoints=68
   movement_type=orcishfoot
   movement=5
   experience=133
   alignment=chaotic
   level=3
   advances_to=null
   {AMLA_DEFAULT}
   cost=38
   usage=fighter
   description=_ ""
   die_sounf={SOUND_LIST:ORC_DIE}
   [resistance]
      blade=80
	  impact=90
   [/resistance]
   [movement_costs]
      cave=1
   [/movement_costs]
   [abilities]
      {ABILITY_LEADERSHIP}
   [/abilities]
   [attack]
      name=sword
	  description=_ "sword"
	  icon=attacks/sword-orcish.png
	  type=blade
	  range=melee
	  damage=14
	  number=3
	  [specials]
	     {WEAPON_SPECIAL_SUPERIOR_STRENGTH}
	  [/specials]
   [/attack]
   [attack]
      name=gauntleted_fist
	  description=_ "gauntleted fist"
	  icon=attacks/fist-robot.png
	  type=impact
	  range=melee
	  damage=13
	  number=2
	  [specials]
		 {WEAPON_SPECIAL_SHOCK}
		 {WEAPON_SPECIAL_SLOW}
	  [/specials]
   [/attack]
   [attack_anim]
      [filter_attack]
	     name=sword
	  [/filter_attack]
	  offset=0.0~0.15:100,0.15~0.35:100,0.35~0.45:75,0.45~0.5:100,0.5:20,0.5~0.4:30,0.4~0.2:75,0.2~0.0:75
	  start_time=-300
	  {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
   [/attack_anim]
       [attack_anim]
        [filter_attack]
            name=gauntleted_fist
        [/filter_attack]

        start_time=-200

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]