#textdomain wesnoth-LOTR
[unit_type]
   id=Rhun_Eastron_Foot_Guards
   name=_ "Eastron Foot Guards"
   race=human
   image="units/Rhun/spear-(L2).png"
   profile=""
   hitpoints=59
   movement_type=smallfoot
   [resistance]
      blade=95
	  pierce=80
   [/resistance]
   [abilities]
      {ABILITY_STEADFAST}
   [/abilities]
   movement=5
   experience=102
   level=2
   alignment=chaotic
   advances_to=Rhun_Lok_Scion_Rim, Rhun_Lok_Gamp_Rim
   cost=29
   usage=fighter
   description=_ ""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=spear
	  description=_ "spear"
	  type=pierce
	  range=melee
	  damage=7
	  number=4
	  icon=attacks/spear.png
	  [specials]
	     {WEAPON_SPECIAL_FIRSTSTRIKE}
	  [/specials]
   [/attack]
   [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]