#textdomain wesnoth-LOTR
[unit_type]
   id=Rhun_Lok_Scion_Rim
   name=_ "Lok Scion Rim"
   race=human
   image="units/Rhun/spear-(L3).png"
   profile=""
   hitpoints=71
   movement_type=smallfoot
   [resistance]
      blade=90
	  pierce=70
   [/resistance]
   [abilities]
	  {ABILITY_STEADFAST}
   [/abilities]
   movement=5
   experience=205
   level=3
   alignment=chaotic
   advances_to=null
   {AMLA_DEFAULT}
   cost=51
   usage=fighter
   description=_ ""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=spear
	  description=_ "spear"
	  type=pierce
	  range=melee
	  damage=15
	  number=3
	  icon=attacks/spear.png
	  [specials]
	     {WEAPON_SPECIAL_FIRSTSTRIKE}
	  [/specials]
   [/attack]
   [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]