#textdomain wesnoth-LOTR
[unit_type]
   id=Gondor_Citadel_Guard
   name=_ "Gondorian Citadel Guard"
   race=human
   image="units/Gondor/Spear-(L3).png"
   profile=""
   hitpoints=69
   movement_type=armoredfoot
   [resistance]
      blade=80
	  pierce=70
	  impact=90
   [/resistance]
   [defense]
      castle=40
	  village=50
   [/defense]
   [abilities]
      {ABILITY_STEADFAST}
   [/abilities]
   movement=4
   experience=134
   level=3
   alignment=lawful
   advances_to=Gondor_Fountain_Guard
   cost=44
   usage=fighter
   description=""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=spear
	  description=_ "spear"
	  type=pierce
	  range=melee
	  damage=16
	  number=3
	  icon=attacks/spear.png
	  [specials]
	     {WEAPON_SPECIAL_FIRSTSTRIKE}
	  [/specials]
   [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]