#textdomain wesnoth-LOTR
[unit_type]
   id=Gondor_recruit
   name=_ "Recruit"
   race=human
   image="units/Gondor/sword-(L1).png"
   profile=""
   hitpoints=41
   movement_type=smallfoot
   [resistance]
      blade=80
	  impact=90
   [/resistance]
   movement=5
   experience=44
   level=1
   alignment=lawful
   advances_to=Gondor_Infantry, Gondor_Captain
   cost=16
   usage=fighter
   description=_ ""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=sword
	  description=_ "sword"
	  type=blade
	  range=melee
	  damage=8
	  number=3
	  icon=attacks/sword-human.png
   [/attack]
   [attack_anim]
      [filter_attack]
	     name=sword
	  [/filter_attack]
	  start_time=-225
	  {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
   [/attack_anim]
[/unit_type]