#textdomain wesnoth-LOTR
[unit_type]
   id=Gondor_Axeman_of_Lassarnach
   name=_ "Axeman of Lassarnach"
   race=human
   image="units/Gondor/axeman-of-lossarnach-(L2).png"
   profile=""
   hitpoints=58
   movement_type=smallfoot
   movement=5
   [resistance]
      blade=70
	  impact=80
	  pierce=90
   [/resistance]
   [movement_costs]
      hills=1
	  forest=1
   [/movement_costs]
   level=2
   alignment=lawful
   experience=92
   advances_to=null
   {AMLA_DEFAULT}
   cost=32
   usage=fighter
   description=_ ""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=battle_axe
	  description=_ "battle axe"
	  type=armour_piercing
	  range=melee
	  damage=14
	  number=3
	  icon=attacks/battleaxe.png
	  [specials]
	     {WEAPON_SPECIAL_SHOCK}
	  [/specials]
   [/attack]
   [attack_anim]
        [filter_attack]
            name=battle_axe
        [/filter_attack]
        start_time=-350
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.5,0.5~0.3,0.3~0.0
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]