#textdomain wesnoth-LOTR
[unit_type]
   id=Gondor_Guard
   name=_ "Gondorian Guard"
   race=human
   image="units/Gondor/Spear-(L2).png"
   profile=""
   hitpoints=57
   movement_type=armoredfoot
   [resistance]
      blade=80
	  pierce=70
	  impact=90
   [/resistance]
   [defence]
      castle=40
	  village=50
   [/defence]
   [abilities]
      {ABILITY_STEADFAST}
   [/abilities]
   movement=4
   experience=92
   level=2
   alignment=lawful
   advances_to=Gondor_Citadel_Guard
   cost=33
   usage=fighter
   description=""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=spear
	  description=_ "spear"
	  type=pierce
	  range=melee
	  damage=11
	  number=3
	  icon=attacks/spear.png
	  [specials]
	     {WEAPON_SPECIAL_FIRSTSTRIKE}
	  [/specials]
   [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]