#textdomain wesnoth-LOTR
[unit_type]
   id=Gondor_Spearman
   name=_ "Gondorian Spearman"
   race=human
   image="units/Gondor/Spear-(L1).png"
   profile=""
   hitpoints=42
   movement_type=smallfoot
   [resistance]
      blade=90
	  impact=90
   [/resistance]
   movement=5
   experience=42
   level=1
   alignment=lawful
   advances_to=Gondor_Guard
   cost=16
   usage=fighter
   description=""
   die_sound={SOUND_LIST:HUMAN_DIE}
   [attack]
      name=spear
	  description=_ "spear"
	  type=pierce
	  range=melee
	  damage=8
	  number=3
	  icon=attacks/spear.png
	  [specials]
	     {WEAPON_SPECIAL_FIRSTSTRIKE}
	  [/specials]
   [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]