#textdomain wesnoth-LOTR
[unit_type]
   id=Noretimo_Warriors
   name=_ "Noretimo Warriors"
   race=elf
   image="units/High_Elves/archer-(L2).png"
   profile=""
   hitpoints=59
   movement_type=smallfoot
   movement=6
   experience=97
   level=2
   [resistance]
	  fire=70
	  arcane=60
	  pierce=90
	  blade=95
   [/resistance]
   [movement_costs]
      forest=1
   [/movement_costs]
   [defense]
      flat=50
	  forest=40
   [/defense]
   alignment=lawful
   advances_to=Harlond_Sea_Guard
   cost=32
   usage=archer
   description=""
   die_sound={SOUND_LIST:ELF_HIT}
   [attack]
      name=sword
	  description=_ "sword"
	  type=blade
	  range=melee
	  damage=8
	  number=3
	  icons=attacks/sword-elven.png
   [/attack]
   [attack]
      name=bow
	  description=_ "bow"
	  type=pierce
	  range=ranged
	  damage=9	
	  number=5
	  icon=attacks/bow-elven.png
   [/attack]
   [attack_anim]
      [filter_attack]
	     name=bow
	  [/filter_attack]
	  missile_start_time=-150
	  [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
      [/missile_frame]
        start_time=-445
	  {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
   [/attack_anim]
   [attack_anim]
      [filter_attack]
	     name=sword
	  [/filter_attack]
	  start_time=-200
	  {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
   [/attack_anim]
[/unit_type]